Trial_001PostMarg1.jpg
Trial_001PostMargZ1.jpg
Trial_001PostMargZ2.jpg
Trial_001PostMargZ21.jpg
Trial_001Post_Beta1.jpg
Trial_001Post_Beta2.jpg
Trial_002PostMarg1.jpg
Trial_002PostMargZ1.jpg
Trial_002PostMargZ2.jpg
Trial_002PostMargZ21.jpg
Trial_002Post_Beta1.jpg
Trial_002Post_Beta2.jpg
Trial_003PostMarg1.jpg
Trial_003PostMargZ1.jpg
Trial_003PostMargZ2.jpg
Trial_003PostMargZ21.jpg
Trial_003Post_Beta1.jpg
Trial_003Post_Beta2.jpg
Trial_004PostMarg1.jpg
Trial_004PostMargZ1.jpg
Trial_004PostMargZ2.jpg
Trial_004PostMargZ21.jpg
Trial_004Post_Beta1.jpg
Trial_004Post_Beta2.jpg
Trial_005PostMarg1.jpg
Trial_005PostMargZ1.jpg
Trial_005PostMargZ2.jpg
Trial_005PostMargZ21.jpg
Trial_005Post_Beta1.jpg
Trial_005Post_Beta2.jpg
Trial_006PostMarg1.jpg
Trial_006PostMargZ1.jpg
Trial_006PostMargZ2.jpg
Trial_006PostMargZ21.jpg
Trial_006Post_Beta1.jpg
Trial_006Post_Beta2.jpg
Trial_007PostMarg1.jpg
Trial_007PostMargZ1.jpg
Trial_007PostMargZ2.jpg
Trial_007PostMargZ21.jpg
Trial_007Post_Beta1.jpg
Trial_007Post_Beta2.jpg
Trial_008PostMarg1.jpg
Trial_008PostMargZ1.jpg
Trial_008PostMargZ2.jpg
Trial_008PostMargZ21.jpg
Trial_008Post_Beta1.jpg
Trial_008Post_Beta2.jpg
Trial_009PostMarg1.jpg
Trial_009PostMargZ1.jpg
Trial_009PostMargZ2.jpg
Trial_009PostMargZ21.jpg
Trial_009Post_Beta1.jpg
Trial_009Post_Beta2.jpg
Trial_010PostMarg1.jpg
Trial_010PostMargZ1.jpg
Trial_010PostMargZ2.jpg
Trial_010PostMargZ21.jpg
Trial_010Post_Beta1.jpg
Trial_010Post_Beta2.jpg
Trial_011PostMarg1.jpg
Trial_011PostMargZ1.jpg
Trial_011PostMargZ2.jpg
Trial_011PostMargZ21.jpg
Trial_011Post_Beta1.jpg
Trial_011Post_Beta2.jpg
Trial_012PostMarg1.jpg
Trial_012PostMargZ1.jpg
Trial_012PostMargZ2.jpg
Trial_012PostMargZ21.jpg
Trial_012Post_Beta1.jpg
Trial_012Post_Beta2.jpg
Trial_013PostMarg1.jpg
Trial_013PostMargZ1.jpg
Trial_013PostMargZ2.jpg
Trial_013PostMargZ21.jpg
Trial_013Post_Beta1.jpg
Trial_013Post_Beta2.jpg
Trial_014PostMarg1.jpg
Trial_014PostMargZ1.jpg
Trial_014PostMargZ2.jpg
Trial_014PostMargZ21.jpg
Trial_014Post_Beta1.jpg
Trial_014Post_Beta2.jpg
Trial_015PostMarg1.jpg
Trial_015PostMargZ1.jpg
Trial_015PostMargZ2.jpg
Trial_015PostMargZ21.jpg
Trial_015Post_Beta1.jpg
Trial_015Post_Beta2.jpg
Trial_016PostMarg1.jpg
Trial_016PostMargZ1.jpg
Trial_016PostMargZ2.jpg
Trial_016PostMargZ21.jpg
Trial_016Post_Beta1.jpg
Trial_016Post_Beta2.jpg
Trial_017PostMarg1.jpg
Trial_017PostMargZ1.jpg
Trial_017PostMargZ2.jpg
Trial_017PostMargZ21.jpg
Trial_017Post_Beta1.jpg
Trial_017Post_Beta2.jpg
Trial_018PostMarg1.jpg
Trial_018PostMargZ1.jpg
Trial_018PostMargZ2.jpg
Trial_018PostMargZ21.jpg
Trial_018Post_Beta1.jpg
Trial_018Post_Beta2.jpg
Trial_019PostMarg1.jpg
Trial_019PostMargZ1.jpg
Trial_019PostMargZ2.jpg
Trial_019PostMargZ21.jpg
Trial_019Post_Beta1.jpg
Trial_019Post_Beta2.jpg
Trial_020PostMarg1.jpg
Trial_020PostMargZ1.jpg
Trial_020PostMargZ2.jpg
Trial_020PostMargZ21.jpg
Trial_020Post_Beta1.jpg
Trial_020Post_Beta2.jpg
Trial_021PostMarg1.jpg
Trial_021PostMargZ1.jpg
Trial_021PostMargZ2.jpg
Trial_021PostMargZ21.jpg
Trial_021Post_Beta1.jpg
Trial_021Post_Beta2.jpg
Trial_022PostMarg1.jpg
Trial_022PostMargZ1.jpg
Trial_022PostMargZ2.jpg
Trial_022PostMargZ21.jpg
Trial_022Post_Beta1.jpg
Trial_022Post_Beta2.jpg
Trial_023PostMarg1.jpg
Trial_023PostMargZ1.jpg
Trial_023PostMargZ2.jpg
Trial_023PostMargZ21.jpg
Trial_023Post_Beta1.jpg
Trial_023Post_Beta2.jpg
Trial_024PostMarg1.jpg
Trial_024PostMargZ1.jpg
Trial_024PostMargZ2.jpg
Trial_024PostMargZ21.jpg
Trial_024Post_Beta1.jpg
Trial_024Post_Beta2.jpg
Trial_025PostMarg1.jpg
Trial_025PostMargZ1.jpg
Trial_025PostMargZ2.jpg
Trial_025PostMargZ21.jpg
Trial_025Post_Beta1.jpg
Trial_025Post_Beta2.jpg
Trial_026PostMarg1.jpg
Trial_026PostMargZ1.jpg
Trial_026PostMargZ2.jpg
Trial_026PostMargZ21.jpg
Trial_026Post_Beta1.jpg
Trial_026Post_Beta2.jpg
Trial_027PostMarg1.jpg
Trial_027PostMargZ1.jpg
Trial_027PostMargZ2.jpg
Trial_027PostMargZ21.jpg
Trial_027Post_Beta1.jpg
Trial_027Post_Beta2.jpg
Trial_028PostMarg1.jpg
Trial_028PostMargZ1.jpg
Trial_028PostMargZ2.jpg
Trial_028PostMargZ21.jpg
Trial_028Post_Beta1.jpg
Trial_028Post_Beta2.jpg
Trial_029PostMarg1.jpg
Trial_029PostMargZ1.jpg
Trial_029PostMargZ2.jpg
Trial_029PostMargZ21.jpg
Trial_029Post_Beta1.jpg
Trial_029Post_Beta2.jpg
Trial_030PostMarg1.jpg
Trial_030PostMargZ1.jpg
Trial_030PostMargZ2.jpg
Trial_030PostMargZ21.jpg
Trial_030Post_Beta1.jpg
Trial_030Post_Beta2.jpg
Trial_031PostMarg1.jpg
Trial_031PostMargZ1.jpg
Trial_031PostMargZ2.jpg
Trial_031PostMargZ21.jpg
Trial_031Post_Beta1.jpg
Trial_031Post_Beta2.jpg
Trial_032PostMarg1.jpg
Trial_032PostMargZ1.jpg
Trial_032PostMargZ2.jpg
Trial_032PostMargZ21.jpg
Trial_032Post_Beta1.jpg
Trial_032Post_Beta2.jpg
Trial_033PostMarg1.jpg
Trial_033PostMargZ1.jpg
Trial_033PostMargZ2.jpg
Trial_033PostMargZ21.jpg
Trial_033Post_Beta1.jpg
Trial_033Post_Beta2.jpg
Trial_034PostMarg1.jpg
Trial_034PostMargZ1.jpg
Trial_034PostMargZ2.jpg
Trial_034PostMargZ21.jpg
Trial_034Post_Beta1.jpg
Trial_034Post_Beta2.jpg
Trial_035PostMarg1.jpg
Trial_035PostMargZ1.jpg
Trial_035PostMargZ2.jpg
Trial_035PostMargZ21.jpg
Trial_035Post_Beta1.jpg
Trial_035Post_Beta2.jpg
Trial_036PostMarg1.jpg
Trial_036PostMargZ1.jpg
Trial_036PostMargZ2.jpg
Trial_036PostMargZ21.jpg
Trial_036Post_Beta1.jpg
Trial_036Post_Beta2.jpg
Trial_037PostMarg1.jpg
Trial_037PostMargZ1.jpg
Trial_037PostMargZ2.jpg
Trial_037PostMargZ21.jpg
Trial_037Post_Beta1.jpg
Trial_037Post_Beta2.jpg
Trial_038PostMarg1.jpg
Trial_038PostMargZ1.jpg
Trial_038PostMargZ2.jpg
Trial_038PostMargZ21.jpg
Trial_038Post_Beta1.jpg
Trial_038Post_Beta2.jpg
Trial_039PostMarg1.jpg
Trial_039PostMargZ1.jpg
Trial_039PostMargZ2.jpg
Trial_039PostMargZ21.jpg
Trial_039Post_Beta1.jpg
Trial_039Post_Beta2.jpg
Trial_040PostMarg1.jpg
Trial_040PostMargZ1.jpg
Trial_040PostMargZ2.jpg
Trial_040PostMargZ21.jpg
Trial_040Post_Beta1.jpg
Trial_040Post_Beta2.jpg
Trial_041PostMarg1.jpg
Trial_041PostMargZ1.jpg
Trial_041PostMargZ2.jpg
Trial_041PostMargZ21.jpg
Trial_041Post_Beta1.jpg
Trial_041Post_Beta2.jpg
Trial_042PostMarg1.jpg
Trial_042PostMargZ1.jpg
Trial_042PostMargZ2.jpg
Trial_042PostMargZ21.jpg
Trial_042Post_Beta1.jpg
Trial_042Post_Beta2.jpg
Trial_043PostMarg1.jpg
Trial_043PostMargZ1.jpg
Trial_043PostMargZ2.jpg
Trial_043PostMargZ21.jpg
Trial_043Post_Beta1.jpg
Trial_043Post_Beta2.jpg
Trial_044PostMarg1.jpg
Trial_044PostMargZ1.jpg
Trial_044PostMargZ2.jpg
Trial_044PostMargZ21.jpg
Trial_044Post_Beta1.jpg
Trial_044Post_Beta2.jpg
Trial_045PostMarg1.jpg
Trial_045PostMargZ1.jpg
Trial_045PostMargZ2.jpg
Trial_045PostMargZ21.jpg
Trial_045Post_Beta1.jpg
Trial_045Post_Beta2.jpg
Trial_046PostMarg1.jpg
Trial_046PostMargZ1.jpg
Trial_046PostMargZ2.jpg
Trial_046PostMargZ21.jpg
Trial_046Post_Beta1.jpg
Trial_046Post_Beta2.jpg
Trial_047PostMarg1.jpg
Trial_047PostMargZ1.jpg
Trial_047PostMargZ2.jpg
Trial_047PostMargZ21.jpg
Trial_047Post_Beta1.jpg
Trial_047Post_Beta2.jpg
Trial_048PostMarg1.jpg
Trial_048PostMargZ1.jpg
Trial_048PostMargZ2.jpg
Trial_048PostMargZ21.jpg
Trial_048Post_Beta1.jpg
Trial_048Post_Beta2.jpg
Trial_049PostMarg1.jpg
Trial_049PostMargZ1.jpg
Trial_049PostMargZ2.jpg
Trial_049PostMargZ21.jpg
Trial_049Post_Beta1.jpg
Trial_049Post_Beta2.jpg
Trial_050PostMarg1.jpg
Trial_050PostMargZ1.jpg
Trial_050PostMargZ2.jpg
Trial_050PostMargZ21.jpg
Trial_050Post_Beta1.jpg
Trial_050Post_Beta2.jpg
Trial_051PostMarg1.jpg
Trial_051PostMargZ1.jpg
Trial_051PostMargZ2.jpg
Trial_051PostMargZ21.jpg
Trial_051Post_Beta1.jpg
Trial_051Post_Beta2.jpg
Trial_052PostMarg1.jpg
Trial_052PostMargZ1.jpg
Trial_052PostMargZ2.jpg
Trial_052PostMargZ21.jpg
Trial_052Post_Beta1.jpg
Trial_052Post_Beta2.jpg
Trial_053PostMarg1.jpg
Trial_053PostMargZ1.jpg
Trial_053PostMargZ2.jpg
Trial_053PostMargZ21.jpg
Trial_053Post_Beta1.jpg
Trial_053Post_Beta2.jpg
Trial_054PostMarg1.jpg
Trial_054PostMargZ1.jpg
Trial_054PostMargZ2.jpg
Trial_054PostMargZ21.jpg
Trial_054Post_Beta1.jpg
Trial_054Post_Beta2.jpg
Trial_055PostMarg1.jpg
Trial_055PostMargZ1.jpg
Trial_055PostMargZ2.jpg
Trial_055PostMargZ21.jpg
Trial_055Post_Beta1.jpg
Trial_055Post_Beta2.jpg
Trial_056PostMarg1.jpg
Trial_056PostMargZ1.jpg
Trial_056PostMargZ2.jpg
Trial_056PostMargZ21.jpg
Trial_056Post_Beta1.jpg
Trial_056Post_Beta2.jpg
Trial_057PostMarg1.jpg
Trial_057PostMargZ1.jpg
Trial_057PostMargZ2.jpg
Trial_057PostMargZ21.jpg
Trial_057Post_Beta1.jpg
Trial_057Post_Beta2.jpg
Trial_058PostMarg1.jpg
Trial_058PostMargZ1.jpg
Trial_058PostMargZ2.jpg
Trial_058PostMargZ21.jpg
Trial_058Post_Beta1.jpg
Trial_058Post_Beta2.jpg
Trial_059PostMarg1.jpg
Trial_059PostMargZ1.jpg
Trial_059PostMargZ2.jpg
Trial_059PostMargZ21.jpg
Trial_059Post_Beta1.jpg
Trial_059Post_Beta2.jpg
Trial_060PostMarg1.jpg
Trial_060PostMargZ1.jpg
Trial_060PostMargZ2.jpg
Trial_060PostMargZ21.jpg
Trial_060Post_Beta1.jpg
Trial_060Post_Beta2.jpg
Trial_061PostMarg1.jpg
Trial_061PostMargZ1.jpg
Trial_061PostMargZ2.jpg
Trial_061PostMargZ21.jpg
Trial_061Post_Beta1.jpg
Trial_061Post_Beta2.jpg
Trial_062PostMarg1.jpg
Trial_062PostMargZ1.jpg
Trial_062PostMargZ2.jpg
Trial_062PostMargZ21.jpg
Trial_062Post_Beta1.jpg
Trial_062Post_Beta2.jpg
Trial_063PostMarg1.jpg
Trial_063PostMargZ1.jpg
Trial_063PostMargZ2.jpg
Trial_063PostMargZ21.jpg
Trial_063Post_Beta1.jpg
Trial_063Post_Beta2.jpg
Trial_064PostMarg1.jpg
Trial_064PostMargZ1.jpg
Trial_064PostMargZ2.jpg
Trial_064PostMargZ21.jpg
Trial_064Post_Beta1.jpg
Trial_064Post_Beta2.jpg
Trial_065PostMarg1.jpg
Trial_065PostMargZ1.jpg
Trial_065PostMargZ2.jpg
Trial_065PostMargZ21.jpg
Trial_065Post_Beta1.jpg
Trial_065Post_Beta2.jpg
Trial_066PostMarg1.jpg
Trial_066PostMargZ1.jpg
Trial_066PostMargZ2.jpg
Trial_066PostMargZ21.jpg
Trial_066Post_Beta1.jpg
Trial_066Post_Beta2.jpg
Trial_067PostMarg1.jpg
Trial_067PostMargZ1.jpg
Trial_067PostMargZ2.jpg
Trial_067PostMargZ21.jpg
Trial_067Post_Beta1.jpg
Trial_067Post_Beta2.jpg
Trial_068PostMarg1.jpg
Trial_068PostMargZ1.jpg
Trial_068PostMargZ2.jpg
Trial_068PostMargZ21.jpg
Trial_068Post_Beta1.jpg
Trial_068Post_Beta2.jpg
Trial_069PostMarg1.jpg
Trial_069PostMargZ1.jpg
Trial_069PostMargZ2.jpg
Trial_069PostMargZ21.jpg
Trial_069Post_Beta1.jpg
Trial_069Post_Beta2.jpg
Trial_070PostMarg1.jpg
Trial_070PostMargZ1.jpg
Trial_070PostMargZ2.jpg
Trial_070PostMargZ21.jpg
Trial_070Post_Beta1.jpg
Trial_070Post_Beta2.jpg
Trial_071PostMarg1.jpg
Trial_071PostMargZ1.jpg
Trial_071PostMargZ2.jpg
Trial_071PostMargZ21.jpg
Trial_071Post_Beta1.jpg
Trial_071Post_Beta2.jpg
Trial_072PostMarg1.jpg
Trial_072PostMargZ1.jpg
Trial_072PostMargZ2.jpg
Trial_072PostMargZ21.jpg
Trial_072Post_Beta1.jpg
Trial_072Post_Beta2.jpg
Trial_073PostMarg1.jpg
Trial_073PostMargZ1.jpg
Trial_073PostMargZ2.jpg
Trial_073PostMargZ21.jpg
Trial_073Post_Beta1.jpg
Trial_073Post_Beta2.jpg
Trial_074PostMarg1.jpg
Trial_074PostMargZ1.jpg
Trial_074PostMargZ2.jpg
Trial_074PostMargZ21.jpg
Trial_074Post_Beta1.jpg
Trial_074Post_Beta2.jpg
Trial_075PostMarg1.jpg
Trial_075PostMargZ1.jpg
Trial_075PostMargZ2.jpg
Trial_075PostMargZ21.jpg
Trial_075Post_Beta1.jpg
Trial_075Post_Beta2.jpg
Trial_076PostMarg1.jpg
Trial_076PostMargZ1.jpg
Trial_076PostMargZ2.jpg
Trial_076PostMargZ21.jpg
Trial_076Post_Beta1.jpg
Trial_076Post_Beta2.jpg
Trial_077PostMarg1.jpg
Trial_077PostMargZ1.jpg
Trial_077PostMargZ2.jpg
Trial_077PostMargZ21.jpg
Trial_077Post_Beta1.jpg
Trial_077Post_Beta2.jpg
Trial_078PostMarg1.jpg
Trial_078PostMargZ1.jpg
Trial_078PostMargZ2.jpg
Trial_078PostMargZ21.jpg
Trial_078Post_Beta1.jpg
Trial_078Post_Beta2.jpg
Trial_079PostMarg1.jpg
Trial_079PostMargZ1.jpg
Trial_079PostMargZ2.jpg
Trial_079PostMargZ21.jpg
Trial_079Post_Beta1.jpg
Trial_079Post_Beta2.jpg
Trial_080PostMarg1.jpg
Trial_080PostMargZ1.jpg
Trial_080PostMargZ2.jpg
Trial_080PostMargZ21.jpg
Trial_080Post_Beta1.jpg
Trial_080Post_Beta2.jpg
Trial_081PostMarg1.jpg
Trial_081PostMargZ1.jpg
Trial_081PostMargZ2.jpg
Trial_081PostMargZ21.jpg
Trial_081Post_Beta1.jpg
Trial_081Post_Beta2.jpg
Trial_082PostMarg1.jpg
Trial_082PostMargZ1.jpg
Trial_082PostMargZ2.jpg
Trial_082PostMargZ21.jpg
Trial_082Post_Beta1.jpg
Trial_082Post_Beta2.jpg
Trial_083PostMarg1.jpg
Trial_083PostMargZ1.jpg
Trial_083PostMargZ2.jpg
Trial_083PostMargZ21.jpg
Trial_083Post_Beta1.jpg
Trial_083Post_Beta2.jpg
Trial_084PostMarg1.jpg
Trial_084PostMargZ1.jpg
Trial_084PostMargZ2.jpg
Trial_084PostMargZ21.jpg
Trial_084Post_Beta1.jpg
Trial_084Post_Beta2.jpg
Trial_085PostMarg1.jpg
Trial_085PostMargZ1.jpg
Trial_085PostMargZ2.jpg
Trial_085PostMargZ21.jpg
Trial_085Post_Beta1.jpg
Trial_085Post_Beta2.jpg
Trial_086PostMarg1.jpg
Trial_086PostMargZ1.jpg
Trial_086PostMargZ2.jpg
Trial_086PostMargZ21.jpg
Trial_086Post_Beta1.jpg
Trial_086Post_Beta2.jpg
Trial_087PostMarg1.jpg
Trial_087PostMargZ1.jpg
Trial_087PostMargZ2.jpg
Trial_087PostMargZ21.jpg
Trial_087Post_Beta1.jpg
Trial_087Post_Beta2.jpg
Trial_088PostMarg1.jpg
Trial_088PostMargZ1.jpg
Trial_088PostMargZ2.jpg
Trial_088PostMargZ21.jpg
Trial_088Post_Beta1.jpg
Trial_088Post_Beta2.jpg
Trial_089PostMarg1.jpg
Trial_089PostMargZ1.jpg
Trial_089PostMargZ2.jpg
Trial_089PostMargZ21.jpg
Trial_089Post_Beta1.jpg
Trial_089Post_Beta2.jpg
Trial_090PostMarg1.jpg
Trial_090PostMargZ1.jpg
Trial_090PostMargZ2.jpg
Trial_090PostMargZ21.jpg
Trial_090Post_Beta1.jpg
Trial_090Post_Beta2.jpg
Trial_091PostMarg1.jpg
Trial_091PostMargZ1.jpg
Trial_091PostMargZ2.jpg
Trial_091PostMargZ21.jpg
Trial_091Post_Beta1.jpg
Trial_091Post_Beta2.jpg
Trial_092PostMarg1.jpg
Trial_092PostMargZ1.jpg
Trial_092PostMargZ2.jpg
Trial_092PostMargZ21.jpg
Trial_092Post_Beta1.jpg
Trial_092Post_Beta2.jpg
Trial_093PostMarg1.jpg
Trial_093PostMargZ1.jpg
Trial_093PostMargZ2.jpg
Trial_093PostMargZ21.jpg
Trial_093Post_Beta1.jpg
Trial_093Post_Beta2.jpg
Trial_094PostMarg1.jpg
Trial_094PostMargZ1.jpg
Trial_094PostMargZ2.jpg
Trial_094PostMargZ21.jpg
Trial_094Post_Beta1.jpg
Trial_094Post_Beta2.jpg
Trial_095PostMarg1.jpg
Trial_095PostMargZ1.jpg
Trial_095PostMargZ2.jpg
Trial_095PostMargZ21.jpg
Trial_095Post_Beta1.jpg
Trial_095Post_Beta2.jpg
Trial_096PostMarg1.jpg
Trial_096PostMargZ1.jpg
Trial_096PostMargZ2.jpg
Trial_096PostMargZ21.jpg
Trial_096Post_Beta1.jpg
Trial_096Post_Beta2.jpg
Trial_097PostMarg1.jpg
Trial_097PostMargZ1.jpg
Trial_097PostMargZ2.jpg
Trial_097PostMargZ21.jpg
Trial_097Post_Beta1.jpg
Trial_097Post_Beta2.jpg
Trial_098PostMarg1.jpg
Trial_098PostMargZ1.jpg
Trial_098PostMargZ2.jpg
Trial_098PostMargZ21.jpg
Trial_098Post_Beta1.jpg
Trial_098Post_Beta2.jpg
Trial_099PostMarg1.jpg
Trial_099PostMargZ1.jpg
Trial_099PostMargZ2.jpg
Trial_099PostMargZ21.jpg
Trial_099Post_Beta1.jpg
Trial_099Post_Beta2.jpg
Trial_100PostMarg1.jpg
Trial_100PostMargZ1.jpg
Trial_100PostMargZ2.jpg
Trial_100PostMargZ21.jpg
Trial_100Post_Beta1.jpg
Trial_100Post_Beta2.jpg
Trial_101PostMarg1.jpg
Trial_101PostMargZ1.jpg
Trial_101PostMargZ2.jpg
Trial_101PostMargZ21.jpg
Trial_101Post_Beta1.jpg
Trial_101Post_Beta2.jpg
Trial_102PostMarg1.jpg
Trial_102PostMargZ1.jpg
Trial_102PostMargZ2.jpg
Trial_102PostMargZ21.jpg
Trial_102Post_Beta1.jpg
Trial_102Post_Beta2.jpg
Trial_103PostMarg1.jpg
Trial_103PostMargZ1.jpg
Trial_103PostMargZ2.jpg
Trial_103PostMargZ21.jpg
Trial_103Post_Beta1.jpg
Trial_103Post_Beta2.jpg
Trial_104PostMarg1.jpg
Trial_104PostMargZ1.jpg
Trial_104PostMargZ2.jpg
Trial_104PostMargZ21.jpg
Trial_104Post_Beta1.jpg
Trial_104Post_Beta2.jpg
Trial_105PostMarg1.jpg
Trial_105PostMargZ1.jpg
Trial_105PostMargZ2.jpg
Trial_105PostMargZ21.jpg
Trial_105Post_Beta1.jpg
Trial_105Post_Beta2.jpg
Trial_106PostMarg1.jpg
Trial_106PostMargZ1.jpg
Trial_106PostMargZ2.jpg
Trial_106PostMargZ21.jpg
Trial_106Post_Beta1.jpg
Trial_106Post_Beta2.jpg
Trial_107PostMarg1.jpg
Trial_107PostMargZ1.jpg
Trial_107PostMargZ2.jpg
Trial_107PostMargZ21.jpg
Trial_107Post_Beta1.jpg
Trial_107Post_Beta2.jpg
Trial_108PostMarg1.jpg
Trial_108PostMargZ1.jpg
Trial_108PostMargZ2.jpg
Trial_108PostMargZ21.jpg
Trial_108Post_Beta1.jpg
Trial_108Post_Beta2.jpg
Trial_109PostMarg1.jpg
Trial_109PostMargZ1.jpg
Trial_109PostMargZ2.jpg
Trial_109PostMargZ21.jpg
Trial_109Post_Beta1.jpg
Trial_109Post_Beta2.jpg
Trial_110PostMarg1.jpg
Trial_110PostMargZ1.jpg
Trial_110PostMargZ2.jpg
Trial_110PostMargZ21.jpg
Trial_110Post_Beta1.jpg
Trial_110Post_Beta2.jpg
Trial_111PostMarg1.jpg
Trial_111PostMargZ1.jpg
Trial_111PostMargZ2.jpg
Trial_111PostMargZ21.jpg
Trial_111Post_Beta1.jpg
Trial_111Post_Beta2.jpg
Trial_112PostMarg1.jpg
Trial_112PostMargZ1.jpg
Trial_112PostMargZ2.jpg
Trial_112PostMargZ21.jpg
Trial_112Post_Beta1.jpg
Trial_112Post_Beta2.jpg
Trial_113PostMarg1.jpg
Trial_113PostMargZ1.jpg
Trial_113PostMargZ2.jpg
Trial_113PostMargZ21.jpg
Trial_113Post_Beta1.jpg
Trial_113Post_Beta2.jpg
Trial_114PostMarg1.jpg
Trial_114PostMargZ1.jpg
Trial_114PostMargZ2.jpg
Trial_114PostMargZ21.jpg
Trial_114Post_Beta1.jpg
Trial_114Post_Beta2.jpg
Trial_115PostMarg1.jpg
Trial_115PostMargZ1.jpg
Trial_115PostMargZ2.jpg
Trial_115PostMargZ21.jpg
Trial_115Post_Beta1.jpg
Trial_115Post_Beta2.jpg
Trial_116PostMarg1.jpg
Trial_116PostMargZ1.jpg
Trial_116PostMargZ2.jpg
Trial_116PostMargZ21.jpg
Trial_116Post_Beta1.jpg
Trial_116Post_Beta2.jpg
Trial_117PostMarg1.jpg
Trial_117PostMargZ1.jpg
Trial_117PostMargZ2.jpg
Trial_117PostMargZ21.jpg
Trial_117Post_Beta1.jpg
Trial_117Post_Beta2.jpg
Trial_118PostMarg1.jpg
Trial_118PostMargZ1.jpg
Trial_118PostMargZ2.jpg
Trial_118PostMargZ21.jpg
Trial_118Post_Beta1.jpg
Trial_118Post_Beta2.jpg
Trial_119PostMarg1.jpg
Trial_119PostMargZ1.jpg
Trial_119PostMargZ2.jpg
Trial_119PostMargZ21.jpg
Trial_119Post_Beta1.jpg
Trial_119Post_Beta2.jpg
Trial_120PostMarg1.jpg
Trial_120PostMargZ1.jpg
Trial_120PostMargZ2.jpg
Trial_120PostMargZ21.jpg
Trial_120Post_Beta1.jpg
Trial_120Post_Beta2.jpg
Trial_121PostMarg1.jpg
Trial_121PostMargZ1.jpg
Trial_121PostMargZ2.jpg
Trial_121PostMargZ21.jpg
Trial_121Post_Beta1.jpg
Trial_121Post_Beta2.jpg
Trial_122PostMarg1.jpg
Trial_122PostMargZ1.jpg
Trial_122PostMargZ2.jpg
Trial_122PostMargZ21.jpg
Trial_122Post_Beta1.jpg
Trial_122Post_Beta2.jpg
Trial_123PostMarg1.jpg
Trial_123PostMargZ1.jpg
Trial_123PostMargZ2.jpg
Trial_123PostMargZ21.jpg
Trial_123Post_Beta1.jpg
Trial_123Post_Beta2.jpg
Trial_124PostMarg1.jpg
Trial_124PostMargZ1.jpg
Trial_124PostMargZ2.jpg
Trial_124PostMargZ21.jpg
Trial_124Post_Beta1.jpg
Trial_124Post_Beta2.jpg
Trial_125PostMarg1.jpg
Trial_125PostMargZ1.jpg
Trial_125PostMargZ2.jpg
Trial_125PostMargZ21.jpg
Trial_125Post_Beta1.jpg
Trial_125Post_Beta2.jpg
Trial_126PostMarg1.jpg
Trial_126PostMargZ1.jpg
Trial_126PostMargZ2.jpg
Trial_126PostMargZ21.jpg
Trial_126Post_Beta1.jpg
Trial_126Post_Beta2.jpg
Trial_127PostMarg1.jpg
Trial_127PostMargZ1.jpg
Trial_127PostMargZ2.jpg
Trial_127PostMargZ21.jpg
Trial_127Post_Beta1.jpg
Trial_127Post_Beta2.jpg
Trial_128PostMarg1.jpg
Trial_128PostMargZ1.jpg
Trial_128PostMargZ2.jpg
Trial_128PostMargZ21.jpg
Trial_128Post_Beta1.jpg
Trial_128Post_Beta2.jpg
Trial_129PostMarg1.jpg
Trial_129PostMargZ1.jpg
Trial_129PostMargZ2.jpg
Trial_129PostMargZ21.jpg
Trial_129Post_Beta1.jpg
Trial_129Post_Beta2.jpg
Trial_130PostMarg1.jpg
Trial_130PostMargZ1.jpg
Trial_130PostMargZ2.jpg
Trial_130PostMargZ21.jpg
Trial_130Post_Beta1.jpg
Trial_130Post_Beta2.jpg
Trial_131PostMarg1.jpg
Trial_131PostMargZ1.jpg
Trial_131PostMargZ2.jpg
Trial_131PostMargZ21.jpg
Trial_131Post_Beta1.jpg
Trial_131Post_Beta2.jpg
Trial_132PostMarg1.jpg
Trial_132PostMargZ1.jpg
Trial_132PostMargZ2.jpg
Trial_132PostMargZ21.jpg
Trial_132Post_Beta1.jpg
Trial_132Post_Beta2.jpg
Trial_133PostMarg1.jpg
Trial_133PostMargZ1.jpg
Trial_133PostMargZ2.jpg
Trial_133PostMargZ21.jpg
Trial_133Post_Beta1.jpg
Trial_133Post_Beta2.jpg
Trial_134PostMarg1.jpg
Trial_134PostMargZ1.jpg
Trial_134PostMargZ2.jpg
Trial_134PostMargZ21.jpg
Trial_134Post_Beta1.jpg
Trial_134Post_Beta2.jpg
Trial_135PostMarg1.jpg
Trial_135PostMargZ1.jpg
Trial_135PostMargZ2.jpg
Trial_135PostMargZ21.jpg
Trial_135Post_Beta1.jpg
Trial_135Post_Beta2.jpg
Trial_136PostMarg1.jpg
Trial_136PostMargZ1.jpg
Trial_136PostMargZ2.jpg
Trial_136PostMargZ21.jpg
Trial_136Post_Beta1.jpg
Trial_136Post_Beta2.jpg
Trial_137PostMarg1.jpg
Trial_137PostMargZ1.jpg
Trial_137PostMargZ2.jpg
Trial_137PostMargZ21.jpg
Trial_137Post_Beta1.jpg
Trial_137Post_Beta2.jpg
Trial_138PostMarg1.jpg
Trial_138PostMargZ1.jpg
Trial_138PostMargZ2.jpg
Trial_138PostMargZ21.jpg
Trial_138Post_Beta1.jpg
Trial_138Post_Beta2.jpg
Trial_139PostMarg1.jpg
Trial_139PostMargZ1.jpg
Trial_139PostMargZ2.jpg
Trial_139PostMargZ21.jpg
Trial_139Post_Beta1.jpg
Trial_139Post_Beta2.jpg
Trial_140PostMarg1.jpg
Trial_140PostMargZ1.jpg
Trial_140PostMargZ2.jpg
Trial_140PostMargZ21.jpg
Trial_140Post_Beta1.jpg
Trial_140Post_Beta2.jpg
Trial_141PostMarg1.jpg
Trial_141PostMargZ1.jpg
Trial_141PostMargZ2.jpg
Trial_141PostMargZ21.jpg
Trial_141Post_Beta1.jpg
Trial_141Post_Beta2.jpg
Trial_142PostMarg1.jpg
Trial_142PostMargZ1.jpg
Trial_142PostMargZ2.jpg
Trial_142PostMargZ21.jpg
Trial_142Post_Beta1.jpg
Trial_142Post_Beta2.jpg
Trial_143PostMarg1.jpg
Trial_143PostMargZ1.jpg
Trial_143PostMargZ2.jpg
Trial_143PostMargZ21.jpg
Trial_143Post_Beta1.jpg
Trial_143Post_Beta2.jpg
Trial_144PostMarg1.jpg
Trial_144PostMargZ1.jpg
Trial_144PostMargZ2.jpg
Trial_144PostMargZ21.jpg
Trial_144Post_Beta1.jpg
Trial_144Post_Beta2.jpg
Trial_145PostMarg1.jpg
Trial_145PostMargZ1.jpg
Trial_145PostMargZ2.jpg
Trial_145PostMargZ21.jpg
Trial_145Post_Beta1.jpg
Trial_145Post_Beta2.jpg
Trial_146PostMarg1.jpg
Trial_146PostMargZ1.jpg
Trial_146PostMargZ2.jpg
Trial_146PostMargZ21.jpg
Trial_146Post_Beta1.jpg
Trial_146Post_Beta2.jpg
Trial_147PostMarg1.jpg
Trial_147PostMargZ1.jpg
Trial_147PostMargZ2.jpg
Trial_147PostMargZ21.jpg
Trial_147Post_Beta1.jpg
Trial_147Post_Beta2.jpg
Trial_148PostMarg1.jpg
Trial_148PostMargZ1.jpg
Trial_148PostMargZ2.jpg
Trial_148PostMargZ21.jpg
Trial_148Post_Beta1.jpg
Trial_148Post_Beta2.jpg
Trial_149PostMarg1.jpg
Trial_149PostMargZ1.jpg
Trial_149PostMargZ2.jpg
Trial_149PostMargZ21.jpg
Trial_149Post_Beta1.jpg
Trial_149Post_Beta2.jpg
Trial_150PostMarg1.jpg
Trial_150PostMargZ1.jpg
Trial_150PostMargZ2.jpg
Trial_150PostMargZ21.jpg
Trial_150Post_Beta1.jpg
Trial_150Post_Beta2.jpg
Trial_151PostMarg1.jpg
Trial_151PostMargZ1.jpg
Trial_151PostMargZ2.jpg
Trial_151PostMargZ21.jpg
Trial_151Post_Beta1.jpg
Trial_151Post_Beta2.jpg
Trial_152PostMarg1.jpg
Trial_152PostMargZ1.jpg
Trial_152PostMargZ2.jpg
Trial_152PostMargZ21.jpg
Trial_152Post_Beta1.jpg
Trial_152Post_Beta2.jpg
Trial_153PostMarg1.jpg
Trial_153PostMargZ1.jpg
Trial_153PostMargZ2.jpg
Trial_153PostMargZ21.jpg
Trial_153Post_Beta1.jpg
Trial_153Post_Beta2.jpg
Trial_154PostMarg1.jpg
Trial_154PostMargZ1.jpg
Trial_154PostMargZ2.jpg
Trial_154PostMargZ21.jpg
Trial_154Post_Beta1.jpg
Trial_154Post_Beta2.jpg
Trial_155PostMarg1.jpg
Trial_155PostMargZ1.jpg
Trial_155PostMargZ2.jpg
Trial_155PostMargZ21.jpg
Trial_155Post_Beta1.jpg
Trial_155Post_Beta2.jpg
Trial_156PostMarg1.jpg
Trial_156PostMargZ1.jpg
Trial_156PostMargZ2.jpg
Trial_156PostMargZ21.jpg
Trial_156Post_Beta1.jpg
Trial_156Post_Beta2.jpg
Trial_157PostMarg1.jpg
Trial_157PostMargZ1.jpg
Trial_157PostMargZ2.jpg
Trial_157PostMargZ21.jpg
Trial_157Post_Beta1.jpg
Trial_157Post_Beta2.jpg
Trial_158PostMarg1.jpg
Trial_158PostMargZ1.jpg
Trial_158PostMargZ2.jpg
Trial_158PostMargZ21.jpg
Trial_158Post_Beta1.jpg
Trial_158Post_Beta2.jpg
Trial_159PostMarg1.jpg
Trial_159PostMargZ1.jpg
Trial_159PostMargZ2.jpg
Trial_159PostMargZ21.jpg
Trial_159Post_Beta1.jpg
Trial_159Post_Beta2.jpg
Trial_160PostMarg1.jpg
Trial_160PostMargZ1.jpg
Trial_160PostMargZ2.jpg
Trial_160PostMargZ21.jpg
Trial_160Post_Beta1.jpg
Trial_160Post_Beta2.jpg
